<div id="footer-box" class="container-fluid btn-dark pt-4 pb-3">
    <div class="mt-3">
    <code>
    <a id="footer-nav" class="pr-3" href="/reviews/topReviews">Top Reviews</a>
        <a id="footer-nav" class="pr-3" href="/users/login">Sign In</a>
        <a id="footer-nav" href="/users/register">Create Account</a>
    </code>
    </div>
    </br>
    <div class="mt-2 mb-5">
        CAMP SEARCH is the first digital resource outdoor adventurers reach for to find a great campsite in the perfect location!
    </div>
    <div id="copyright" class="mt-5">
    &copy; 2020 Jennifer Schaefer
    </div>
</div>