<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <h1>{{name}}</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<img src="/images/camping.jpg" alt="camping sunset">
</body>
</html>



