<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>
{{>header}}
    <div class="row row-cols-7 pt-3 mb-3 justify-content-center">
        <h2>{{title}}</h2>
    </div>

{{{body}}}

</body>
{{>imports}}
<script type="text/javascript">
    $(window).bind('load', function() {
        document.querySelector('star-rating').onchange = (e) => {
            document.getElementById('starRating').value = e.target.value
        }

    })
</script>
<footer>
    {{>footer}}
</footer>
</html>
