<div class="container-fluid m-2">
    {{> user_messages}}
</div>
<div class="container-fluid">
    <div class="row row-cols-8 justify-content-center">
        <div class="col-8 col-md-5 list-group">
            {{#each reviewList}}
                <a href="/reviews/view?id={{ id }}" class="list-group-item list-group-item-action">

                    <h6><b>{{ title }}</b></h6>
                    </br>
                    <code class="text-muted">
                        Reviewed on: {{date}}
                    </code>
                </a>
            {{/each}}
        </div>
    </div>
</div>

<img src="/assets/images/camping.jpg" class="img-fluid mt-4" alt="camping sunset">



