body {
  font: 14px Lato, Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

.navbar-text{
  font-size: x-large;
}

.navbar-toggler{
  margin-top: 5px;
  margin-bottom: 10px;
}

#buttons{
  background-color: darkorange;
  border: none;
}
.checked {
  color : yellow;
  font-size : 20px;
}
.unchecked {
  font-size : 20px;
}
.image-container{
  position: relative;
  text-align: center;
  color: white;
  max-width: 100%;
  height: auto;
}
.image-text{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  font-family: Georgia, serif;
  max-width: 100%;
  height: auto;
}
#front-img{
  font-family: "Courier New", serif;
}
#box{
  background: rgba(64,64,64,0.5);
}

#footer-nav{
  color: white;
  font-size:12px;
}
#footer-nav:hover{
  text-decoration: none;
  color:orange;
}

#copyright{
  font-size:11px;
}

#footer-box{
  background-color: #343a40;
}

#home-page-card{
  border-radius: 0;
}
h1{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;"
}

.navbar{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul{
  list-style-type: none;
}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#search-bar{
  font: 14px Lato, Helvetica, Arial, sans-serif;
}

#search-icon-box{
  background-color:#cc5500;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#search-icon-box:hover{
  background: #b34a00;
}

#search-icon{
  color:white;
}

#user-icon{
  margin-right:5px;
  justify-content: center;
}

#sign-in-card{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
