<header>
    <h1>{{name}}</h1>
    <div class="navbar">
        <p>
            <a href="/">Home</a> | <a href="/reviews/add">Add Review</a> | <a href="/reviews/viewAll">View All</a>
        </p>
    </div>
</header>
