<title>{{title}}</title>
<div class="container-fluid m-2">
    {{> user_messages}}
</div>

<div id="home-page-card" class="card bg-dark text-white">
<img src="/assets/images/mountain.jpg" class="card-img" alt="camping sunset">

    <div id="front-img" class="card-img-overlay text-center ">
        <div id="box" class="shadow-lg rounded-sm">
        <h3 id="front-img-top-text" class="card-title">Spend more time where it matters.</h3>
        <h6 id="front-img-second-text" class="card-subtitle">(and less time looking for a campsite)</h6>
        </div>
    </div>
</div>

</div>




