h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
img{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 500px;
}

.navbar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul{
    list-style-type: none;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
