<div class="row row-cols-7 pt-3 justify-content-center">
    <h6>{{title}}</h6>
</div>
<div class="container shadow-sm p-3 mt-3 mb-5 bg-light rounded">

    <div class="row row-cols-7 pl-3 pr-3 justify-content-left">
        <p class="text-justify mt-1">
            Email: {{currentUser.email}}
        </p>
    </div>
    <div class="row row-cols-7 pl-3 pr-3">
        <p class="text-left">
            Name: {{currentUser.fullName}}
        </p>
    </div>
</div>
        <div class="row row-cols-7 pl-3 pr-3">
            <p class="text-left">

            </p>
        </div>