<div class="container-fluid m-2">
    {{> user_messages}}
</div><div class="container shadow-sm p-3 mt-3 mb-4 bg-light rounded">
<form method="post" action="/reviews/save" class="center">
    <div class="container-fluid">
        <input type="hidden" name="checkCreate" value="{{#if doCreate}}create{{else}}update{{/if}}"/>
        <div class="form-group row justify-content-center">
            <input type="hidden" name="reviewId" value="{{reviewId}}"/>
            <input type="hidden" name="date" value="{{date}}"/>
        </div>
        <star-rating value="0" arial-labelledby="ratingLabel"></star-rating>
        <input type="hidden" id="starRating" name="rating"/>

        <div class="form-group row justify-content-center">
            <div class="col-1 text-left font-weight-bold">
                <label class="col-form-label" for="title">Title: </label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text" name="title" required/><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <textarea class="col-10 form-control" rows=5 name="body" required></textarea><br/>
        </div>
        <div class="form-group row justify-content-center">
            <button type="submit" id="buttons" class="btn btn-primary btn-sm">Submit</button>
        </div>

        </div>
</form>
<img src="/assets/images/camping.jpg" class="img-fluid mt-4" alt="camping sunset">
</div>